{% extends 'base.html.twig' %}

{% block title %}Edycja miejsca postojowego{% endblock %}

{% block body %}
    <main class="card">
        <h1>Edytuj miejsce postojowe</h1>

        {{ form_start(editForm) }}
            {{ form_row(editForm.name) }}
            {{ form_row(editForm.description) }}
            {{ form_row(editForm.save) }}
        {{ form_end(editForm) }}

        <p><a href="{{ path('app_admin_parking_spot_index') }}">← Powrót do listy</a></p>
    </main>
{% endblock %}
